<!DOCTYPE html>
<html>
    <head>
        <title>MRC Project</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body class="background">
        <h1 id="top_header">MRC Comm. Tool</h1>
        <!-- <h2 id="sub_header">Enter Phone Numbers</h2> -->

        <div class="login-form">
            <form action="/" method="POST">
              <input type="text" name="phone" class="text-field" placeholder="Phone Numbers"><br>
              <input type="text" name="messages" class="text-field" placeholder="Messages"><br>
              <input type="submit" value="Submit" class="submit-btn">
            </form>
        </div>    
    </body>
</html>

